# Ignore everything by default
*

# Allow gitignore itself
!.gitignore

# Allow emacs and everything inside
!emacs/
!emacs/**

# Now ignore certain subdirs inside emacs
emacs/elpaca/
emacs/eln-cache/

# Ignore emacs backup files
*~

# Other allowed dirs/files
!nvim/
!nvim/**

!.bashrc
!README.md

# powerline
!powerline/
!powerline/**
!powerline/*

# kitty
!kitty/
!kitty/**
!kitty/*

# bash
!bash/
!bash/**
!bash/*
emacs/tramp
emacs/config.el
